@import '../variables/colors.scss';
@import '../movies/movieCard.module.scss';

.trending {
    color: $pureWhite;

    &__title {
        padding-left: 16px;
        margin: unset;
        margin-bottom: 25px;
    }

    &__wrapperScroll {

        padding-inline: 16px;
    }

    &__wrapperScrollImages {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;

        &::-webkit-scrollbar {
            display: none;
        }

        & img {
            width: 250px;

            @media screen and (min-width:400px) {
                width: 300px;
            }
            @media screen and (min-width:500px) {
                width: unset;
            }
        }
    }

}