@import '../variables/colors.scss';

.navbar {
    padding: 18px 16px;
    background-color: $semiDarkBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:834px) {
        flex-direction: column;
        height: 100vh;
    }

    &__wrapperIcons {
        display: flex;
        gap: 28px;
        align-items: center;

        @media screen and (min-width:834px) {
            flex-direction: column;
        }
    }

    &__icon {

        display: block;
        cursor: pointer;

        & svg {
            width: 20px;
            height: 20px;
        }

        &__nav {
            @media (hover: hover) {
                &:hover svg path {
                    fill: $pureWhite;

                }
            }

            &--active {
                & svg path {
                    fill: $pureWhite;
                }
            }
        }
    }

    &__image {
        width: 24px;
        height: 24px;
        object-fit: cover;
        outline: 2px solid #fff;
        border-radius: 50%;

    }

    &__desktop {
        @media screen and (min-width:834px) {
            display: flex;

            &--content {
                width: calc(100% - 56px);
            }
        }

    }
}